[submodule "pack/my_plugins/start/LaTeX-Box"]
	path = pack/my_plugins/start/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box
[submodule "pack/my_plugins/start/mru"]
	path = pack/my_plugins/start/mru
	url = https://github.com/yegappan/mru
[submodule "pack/my_plugins/start/vim-surround"]
	path = pack/my_plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/my_plugins/start/vimoutliner"]
	path = pack/my_plugins/start/vimoutliner
	url = https://github.com/vimoutliner/vimoutliner
[submodule "pack/my_plugins/start/tcomment_vim"]
	path = pack/my_plugins/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "pack/my_plugins/start/vim-sensible"]
	path = pack/my_plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible
